{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "arrowParens": "avoid",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["cx", "classnames", "clsx", "cn", "twMerge", "tw"]
}
