@import 'tailwindcss';

@theme {
  --color-primary-500: #2196F3;
  --color-primary-600: #1E88E5;
  --color-white-400: #FFFFFF;
}

:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.wrapper {
  max-width: 1345px;
  margin: 0 auto;
  padding: 0 15px;
}
